/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}
html,
body {
    margin: 0;
    padding: 0;
}
fieldset,
img {
    border: 0;
}
input {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(210, 210, 210);
    box-shadow: none;
    position: relative;
    -webkit-font-smoothing: antialiased;
    border-radius: 3px;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    color: rgb(51, 51, 51);
}
a {
    text-decoration: none;
	color:#000;
}
ol,
ul {
    list-style: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
	font-size:1em;
}
/* CSS reset */
.ui-page{
	position:relative;
	height:100%;
}
header {
    background-color: #fffcfc ;
    padding: 10px;
    display: flex;
    width: 100%;
    position: fixed;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
    z-index: 101;
}
.logo{
	width:25%;	
}
.logo img{
	width: 200px;
    margin-top: 20px;
}
.w-button {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    margin: 0 5px;
    font-size: 14px;
	box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.14)
}
.w-button.but-1 {
    border: 1px solid #67c1ea;
    background-color: #67c1ea;
    color: #fff;
}
.w-button.but-2 {
    border: 1px solid #67c1ea;
    background-color: #fff;
	color:#67c1ea;
}
#content {
    background-color: #fff;
    padding: 10px;
}
.menuBar {
    margin: 35px 0;
    width: 75%;
    text-align: center;
}
.manageIn {
    text-decoration: none;
    float: right;
    color: #260d0d;
}
.seperator{
	margin:100px;
	display:inline-block;
}
footer {
    background-color: #ff9980;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}
footer .wrapper{
	color:#fff;
	position:relative;
}
footer .content{
	position: absolute;
    left: 10%;
    top: 30px;
}
footer .contact a{
	margin: 0 0 10px 30px;
    display: block;
}

/* banner */
#banner{
	padding-top: 80px;
    height: 350px;
    background: url(images/banner1.jpg) no-repeat center;
    background-size: 100%;
}
#banner .content {
	margin: 8% 35px 0 0;
    float: right;
    width: 46%;
	display:none;
}

/* how it works */
.heading{
	text-align: center;
    margin: 30px 0;
}
.steps{
	text-align: center;
    margin: 30px 0;
    display: flex;
    justify-content: center;
}
.step {
    display: inline-block;
    margin: 0 36px;
	width:15%;
}
.step img {
    width: 150px;
}
.stepTitle {
    font-size: 18px;
    padding: 16px 0;
}
.stepArrow img{
	width: 50px;
    padding-top: 220%;
}
.stepNum{
	width: 30px;
    height: 30px;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    background: #67c1ea;
    margin: 15px auto;
}

/* jquery mobile */
.ui-loader{
	display:none;
}

/* helper */

.floatLeft{
	float:left;
}

/* responsive css*/
@media screen and (max-device-width: 736px) and (min-device-width: 320px) {
   body {
	font-size:2.2em;
   }
   footer {
    height: 150px;
  }
   
   /* menu */
   #menuMobile{
	   margin: 3% 1% 1%;
	   width: 25%;
   }
   #menuMobile img{
	  width: 75px;
   }
  #menuMobile .menuOptions{
	z-index: 2000;
    background-color: #67c1ea;
    position: absolute;
  }
  #menuMobile .menuOptions li{
    padding: 20px 16px;
    text-align: left;
    font-size: 32px;
	border-bottom: 3px solid #fff;
  }
  #menuMobile .menuOptions li a{
	  color:#fff;
  }
  .logo img{
    margin-top: 30px;
  }
   
  .steps{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
	display: inline-block;
  }
  .step{
    height: 150px;
    font-size: 30px;
    width:100%;
    text-align: center;
    display: inline-block;
	margin:0;
  }
  .step img {
    width: 50%;
  }
  .stepNum{
	width:75px;
    height: 75px;
    font-size: 52px;
    line-height: 70px;
 }
 .stepTitle {
    font-size: 38px;
 }
 .stepSelection{
	 text-align:center;
 }
 .stepSel{
	width: 40px;
    height: 40px;
    border-radius: 50px;
	border:2px solid #000;
    text-align: center;
	margin:30px;
	display:inline-block;
 }
 .stepSel.selected{
	 background: #67c1ea;
 }
  
}


/* overlay */

.w-modal,
.w-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    z-index: 9999;
    display: none;
    top: 100%;
}
.w-backdrop {
    background: rgba(0, 0, 0, 0.5);
}
.w-modal-container {
    width: 400px;
    height: auto;
    background: #F3F3F3;
    position: absolute;
    z-index: 9999;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.w-modal .closeIcon {
    position: absolute;
    right: 8px;
    top: 5px;
    color: #888;
	font-size: 24px;
}
.w-modal .w-modal-header {
    padding-top: 25px;
    width: 100%;
    text-align: center;
}
.w-modal .w-modal-header img {
    width: 125px;
}
.w-modal .w-modal-body {
    padding: 10px 20px;
}
.w-modal h2 {
    margin: 0 auto;
    text-align: center;
    color: #254;
    padding: 5px;
}
.form-input {
    margin: 10px;
	text-align: center;
}
.form-button {
    margin: 15px auto;
    text-align: center;
}
.form-input input {
    display: block;
    margin-bottom: 3px;
}
.showOptions {
    margin-left: 2%;
    padding: 10px;
}
.showOptions a {
	font-weight:bold;
    margin-left: 5px;
}
.otherSignIn {
	text-align:center;
}
.otherSignIn a{
	padding: 5px 5px;
    border-radius: 4px;
    color: #fff;
    width: 275px;
    display: inline-block;
    text-align: left;
}
.otherSignIn .otherIcon{
	width: 30px;
    height: 30px;
    padding: 3px;
    float: left;
    margin-right: 26px;
}
.otherSignIn div{
	margin:10px;
}
.otherSignIn a .otherTxt{
	margin-top: 5px;
    display: inline-block;
}
.otherSignIn .facebook{
    background-color: #4267b2;
}
.otherSignIn .google{
    background-color: #4285F4;
}
.otherSignIn .google .otherIcon{
	background-color:#fff;
}
@media screen and (max-device-width: 736px) and (min-device-width: 320px) {
	 body {
		font-size:2.2em;
	   }
	.w-modal-container {
		width: 90%;
		height: 95%;
		overflow: scroll;
	}
	.w-modal .w-modal-header img {
		width: 220px;
	}
	.otherSignIn .otherIcon{
		width: 50px;
		height: 50px;
	}
	.form-input input {
		width: 90%;
		font-size: 38px;
		padding: 20px;
		margin:10px auto;
		display:inline-block;
	}
	.otherSignIn a{
		width: 70%;
		padding: 20px;
	}
	.w-button{
		font-size:36px;
		margin: 10px;
	}
	.w-modal .closeIcon {
		font-size: 50px;
	}
	.w-modal h2 {
		font-size:34px;
	}
}